.side-bar
  .side-bar__header
    .top-items
      %p.top-items__name
        = current_user.name
      %ul.top-items__icon
        %li.top-items__icon__list
          = link_to new_group_path, class: "top-items__icon__list__btn" do
            = icon('far', 'edit')
        %li.top-items__icon__list
          = link_to edit_user_path(current_user), class: "top-items__icon__list__btn" do
            = icon('fas', 'cog')
  .side-bar__groups
    - current_user.groups.each do |group|
      .group
        = link_to '#', class: "group__btn" do
          %p.group__btn__group-name
            = group.name
        %p.group__latest-message
          メッセージはまだありません。
      